body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
}
.postcard-header img {
	width: 70px;
	height: auto;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 5px;
}
.postcard-footer {
	text-align: center;
}
input {
	border: none;
	border-bottom: 1px solid black;
}
